@charset "UTF-8";

// import the custom code


// Sizing

.vh-75 {
    height: 75vh;
  }
.vh-100 {
    height: 100vh;
  }


// Positioning
  
.pos-absolute-top {
  position: absolute;
  top: 0;
  left:0;
  right:0;
}


// Hero in the header section

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: rgb(253,199,48);
  // background: linear-gradient(45deg, rgba(183,50,37,1) 0%, rgba(0,78,124,.75) 50%, rgba(89,28,11,1) 100%);  
}
  
#hero {
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
  // filter:blur(5px) grayscale(1);
  .hero-content {
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }
}